<div class="down">
  <div class="search">

  </div>
  <div id="map" class="item"></div>
  <script type="text/javascript">
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: new google.maps.LatLng(<%= @lati %>, <%= @long %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var locations = <%= raw @locations.to_json %>;
      var marker, i;

      for (i = 0; i < locations.length; i++) {
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][0], locations[i][1]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function (marker, i) {
          return function () {
            const url = locations[i][2];
            window.location.href = url
          }
        })(marker, i));
      }
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?<%= google_keys %>callback=initMap" async defer></script>
</div>