  <head>
    <style>
       #map {
        height: 450px;
        width: 100%;
       }
    </style>
  </head>
  <h1>Local Veggies</h1>
  
    <body>
     <%= link_to 'Profile', profiles_path %>

 
    
    <%= render 'map' %>
    </body>